@model Ecom.Web.ViewModels.OrdersViewModel
@{
    ViewBag.Title = "Orders";
    
}

<script src="/Content/javascript/sweetalert.min.js"></script>
@*<link rel="stylesheet" type="text/css" href="~/Scripts/sweetalert.css">
<script src="~/Scripts/sweetalert.min.js"></script>*@
<section class="flat-row flat-iconbox">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="title-section">
                    <h2 class="title">
                        Orders
                    </h2>
                </div>
            </div>
        </div>
        <div id="tableContiner">

            <div>
                <form method="post">
                    <div class="row">
                        <div class="col-md-8">
                            <div class="form-group">
                                <label>Search</label>
                                <input class="form-control" id="searchTxt" name="UserId" value="@Model.UserId" />
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label>Action</label>
                                <div class="row">
                                    <div class="col-md-4 pr-0">
                                        <button class="btn btn-primary form-control" type="submit" id="searchBtn">Search</button>
                                    </div>
                                    <div class="col-md-4 pr-0">
                                        <a class="btn btn-primary form-control" type="button" id="resetBtn" href="@Url.Action("Index", "Order", new { pageNo = 1 })" >Reset</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div>
                <table id="ordersTable" class="table table-striped">
                    <thead>

                        <tr>
                            <th class="font-weight-bold">User Id</th>
                            <th class="font-weight-bold">Total Price</th>
                            <th class="font-weight-bold">Status</th>
                            <th class="font-weight-bold wrap-td">Actions</th>
                        </tr>

                    </thead>
                    <tbody>
                        @if (Model.Orders != null && Model.Orders.Count > 0)
                        {

                            foreach (var order in Model.Orders)
                            {
                                <tr>
                                    <td>@order.UserId</td>
                                    <td>
                                        @order.TotalAmmount
                                    </td>
                                    
                                    <td>@order.Status</td>
                                    <td class="wrap-td">
                                        <button class="deleteBtn" data-id="@order.Id" href="@Url.Action("Delete", "Order")">Delete</button>
                                    </td>
                                    <td class="wrap-td">

                                        <a class="detailBtn" data-id="@order.Id" href="@Url.Action("Details", "Order", new {  Id = order.Id })">Details</a>
                                    </td>
                                </tr>
                            }

                        }
                        else
                        {
                            <tr>
                                <td class="text-danger" colspan="4">No Orders found.</td>
                            </tr>
                        }
                    </tbody>
                </table>
                <div>
                    @if (Model.Pager != null && Model.Pager.PageSize > 1)
                    {

                        if (Model.Pager.CurrentPage > 1)
                        {
                            <a class="pageButtons" data-pageno="1" href="@Url.Action("Index", "Order", new {userId = Model.UserId, status = Model.Status, pageNo = 1 })">First</a>
                            <a class="pageButtons" data-pageno="@(Model.Pager.CurrentPage - 1)" href="@Url.Action("Index", "Order", new {userId = Model.UserId, status = Model.Status, pageNo = Model.Pager.CurrentPage -1 })">Previous</a>
                        }

                        for (var page = Model.Pager.StartPage; page <= Model.Pager.EndPage; page++)
                        {
                            string activeClass = Model.Pager.CurrentPage == page ? "active bg-info" : string.Empty;

                            <a class="@activeClass pageButtons" data-pageno="@page" href="@Url.Action("Index", "Order", new {userId = Model.UserId, status = Model.Status, pageNo = page })">@page</a>
                        }

                        if (Model.Pager.CurrentPage < Model.Pager.TotalPages)
                        {
                            <a class="pageButtons" data-pageno="@(Model.Pager.CurrentPage + 1)" href="@Url.Action("Index", "Order", new {userId = Model.UserId, status = Model.Status, pageNo = Model.Pager.CurrentPage + 1 })">Next</a>
                            <a class="pageButtons" data-pageno="@Model.Pager.EndPage" href="@Url.Action("Index", "Order", new {userId = Model.UserId, status = Model.Status, pageNo = Model.Pager.EndPage })">Last</a>
                        }
                    }

                </div>
            </div>
        </div>
        <hr />
    </div>
</section>
<script>
    $(".deleteBtn").click(function () {
        swal({
                title: "Confirm?",
                text: "Are you sure you want to delete this product !",
                icon: "warning",
                buttons: true,
                dangerMode: true
            })
            .then((willDelete) => {
                if (willDelete) {
                    $.ajax({
                            type: 'POST',
                            url: '@Url.Action("Delete", "Order")',
                            data: {
                                ID: $(this).attr('data-id')
                            }
                        })
                        .done(function (response) {
                            $("#ordersTable").html(response);
                            swal("Record Deleted Successed ", {
                                icon: "success"
                            });
                        })
                        .fail(function (xmlHttpRequest, textStatus, errorThrown) {
                            alert("FAIL");
                        });
                }
            });
    });
    function focusAction(controlToFocus) {
        $('html, body').animate({
            scrollTop: $("#" + controlToFocus).offset().top - 100
        }, 1000);
    }
</script>